:root{
  --main-font-family:'Montserrat', sans-serif;
  --second-font-family:'Kaushan Script', cursive;
  --black-text-color: #333;
  --active-text-color:#fce38a;
  --white-text-color:#fff;
  --slider-red-color:#f38181;
  --article-font-family: 'Roboto', sans-serif;
  --background-color:#95e1d3;
}


body{
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 15px;
  color: var(--black-text-color);
  line-height: 1.6;
}
/* допомагає при розміщені єлементів */
*, *::after,*::before{
  box-sizing: border-box;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 50px 0;

  background-color: #e5e5e5;
}


h1,h2,h3,h4,h5,h6{
  margin: 0;
}
 /* сетка 1200 рх Container */ 
.container{
  width: 100%;
  max-width: 1200px;
  /* вирівняємо по центру  */
  margin: 0 auto;
}
/* Intro background*/
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;

  background: url(../img/intro.jpg) center no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
  
}

.intro__inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

.intro__title{
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;

  color: var(--white-text-color);
}

.intro__title::after{
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--white-text-color);

  display: block;
  top: 100%;
  left: 0;

  margin: 60px auto;
}

.intro__suptitle{
  font-size: 72px;
  font-family: var(--second-font-family);

  color: var(--white-text-color);
  margin: inherit;
}

/* Header */
.header{
  width: 100%;
  padding-top: 30px;
  position: absolute;
  /* Забираємо відступи*/
  top:0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.header__inner{
  display: flex;
  /* Равномерно распределяет все элементы по ширине flex-блока. */
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  font-size: 30px;
  font-weight: 700;
  color: var(--white-text-color);
}


/* Navigation */
.nav{
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link{
  margin: 0 20px;
  color:var(--white-text-color);
  text-decoration: none;
  transition: color 0.1s linear;
  position: relative;
}
.nav__link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: .1s linear;

  top: 100%;
  margin-top: 10px;
  left: 0;
  position: absolute;

  background-color: var(--active-text-color);
}

.nav__link:hover{
  color: var(--active-text-color);
}

.nav__link:hover::after, .nav__link.active::after{
 opacity: 1;
}

.nav__link.active{
  color: var(--active-text-color);
}

/* Buttons */

.btn{
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  border:3px var(--white-text-color) solid;

  color: var(--white-text-color);
  text-transform: uppercase;
  transition:background  0.1s linear, color .1s linear;

}

.btn:hover{
  background-color:var(--white-text-color);
  color: var(--black-text-color);
}


/* Slider */
.slider{
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner{
  display: flex;
  justify-content: space-between;
}
.slider__item{
  width: 24%;
  padding: 30px 0;
  text-align: start;
  position: relative;
  opacity: .7;

  border-top: 3px solid var(--white-text-color);
  color: var(--white-text-color);
  font-size: 18px;
  text-transform: uppercase;
}

.slider__item.active{
  opacity: 1;
}

.slider__item.active::before{
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--slider-red-color);
}

.slider__item span{
  font-weight: 700;
  font-size: 24px;
}


/* section 1 */

.section{
  padding: 90px 0;
}

.section--gray{
  background-color: #f8f8f8;
}

.section__header{
  width: 100%;
  max-width: 950px;
  margin:0 auto 0px;
  text-align: center;
}

.section__suptitle{
  font-family: var(--second-font-family);
  color: var(--black-text-color);
  font-size: 24px;
  margin: 0 auto;
}

.section__title{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;


}
.section__title::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 40px auto;
  top: 100%;
  left: 0;

  background-color: var(--slider-red-color);
}

.section__text{
  color: #999;
  font-size: 15px;
  font-family: var(--article-font-family);
}


/* About */

.about{
  margin: 100px 0 0;
  display: flex;
  justify-content:space-between;

}

.about__item{
  position: relative;
  width: 380px;
  background-color:var(--background-color);
}

.about__item:hover .about__text{
  opacity: 1;
}

.about__item:hover .about__img{
  transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img{
  opacity:0.1;
}

.about__img{
  transition: transform 0.2s linear;
  background: linear-gradient(to bottom, var(--slider-red-color),var(--active-text-color));
}

.about__img img{
  display: block;
  transition: opacity 0.1s linear;
}

.about__text img{
  display: flex;
  margin: 0 auto;
}

.about__text{
  align-items:center;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: var(--white-text-color);
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity 0.2s linear;
}



/* Statictics */

.statictics{
  /* margin-top: 80px; */
  background-color: var(--background-color);
}

.stat{
  display: flex;
}

.stat__item:last-child{
  border-right: 1px solid #b5eae0;
}
.stat__item{
  text-align: center;
  flex: 1 1 0;
  padding: 70px 25px;
  line-height: 1.2;

  color: var(--white-text-color);

  border-left:1px solid #b5eae0;
}

.stat__count{
  font-size: 72px;
  font-weight: 700;
}

.stat__text{
  font-size: 14px;
  text-transform: uppercase;
}


/* Services */


.services__header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.services__title{
  font-size: 30px;
  font-family: 700;
  text-transform: uppercase;
}

.services__title::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background:var(--slider-red-color);
  margin: 40px auto 60px;
  top: 50%;
  left: 0%;
}

.services__suptitle{
  font-size: 24px;
  font-family: var(--second-font-family);
  margin: 0 auto;
}

.services__list{
  display: flex;
}

.services__item{
  padding-left: 85px;
  padding-right: 35px;
  flex: 1 1 0;
  position: relative;
}

.item__title{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  color: #999;
  margin: 0 0;
}

.item__icon{
  position: absolute;
  top:5px;
  left: 25px;
  z-index: 1;
}




/* Design */

.section.design{
  background: url(../img/Devices/background.jpg) center no-repeat;
  background-size:cover;
  padding-bottom: 0;
}

.design__header{
  width: 100%;
  max-width: 950px;
  text-align: center;
  margin: 0 auto;
}

.design__title{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.design__title::after{
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background:var(--slider-red-color);
  top: 0;
  left: 0;
  margin: 40px auto 0;
}

.design__suptitle{
  margin: 0 auto;
  font-size: 24px;
  font-family: var(--second-font-family);
}

.devices{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.devices__item{
  display: block;
}

.devices__item.phone{
  position: absolute;
  right: -80px;
  bottom: -90px;
  z-index: 3;
}

.section--wedo{
  padding-top: 120px;
}
.header--wedo{
  margin-bottom: 90px;
}

/* We do */
.wedo{
  display: flex;

}

.wedo__item{
  flex:1 1 0;
}


/* Accordion */


.accordion__content{
  display: none;
}

.accordion__item{
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.accordion__item.active .accordion__content{
  display: block;
}
.accordion__item.active .accordion__header::after{
  transform: rotate(45deg);
  margin-top: -5px;
}
.accordion__item.active .accordion__header{
  border-bottom-color:#e5e5e5;
}

.accordion__header{
  position: relative;
  padding: 15px 20px 15px 65px;
  border-bottom: 1px solid transparent;
}

.accordion__header::after{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top:3px solid #cccccc;
  border-left: 3px solid #cccccc;

  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;

  transform: translateY(-50%);

  transform: rotate(-135deg);
}

.accordion__icon{
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion__title{
  font-size: 15px;
  color: var(--black-text-color);
  text-transform:uppercase 
}

.accordion__text{
  padding: 15px 20px;

  font-size: 15px;
  color:#999;
  font-family: var(--article-font-family);
  font-weight: 300;
  font-style: italic;
}



/* Quote */
.quote{
  padding: 0 110px;
  position: relative;
}

.quote__icon{
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  border:3px solid var(--background-color);
}

.quote__text{
  font-size: 24px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #999;
  margin-bottom: 15px;
}

.quote__item{
  padding-left: 205px;
  position: relative;
}

.quote__author{
  font-size: 24px;
  font-family:var(--second-font-family);
  color: #333;
}
.quote__author::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  background-color: var(--slider-red-color);
  margin-right: 10px;
}

.quote__btn{
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.quote__btn::after{
  content: "";
  display:block;
  width: 15px;
  height: 15px;
  border-top:3px solid #d2d2d2;
  border-right:3px solid #d2d2d2;
  transform: rotate(45deg);
}


.quote__btn--prev{
  left: 0;
  transform: rotate(180deg);
}

.quote__btn--next{
  right: 0;
}





/* Team */
.team{
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

.team__item{
  width: 380px;
  height: 470px;
  background-color: var(--background-color);
  position: relative;

  margin-bottom: 110px;
}

.team__name{
  text-align: center;
  padding-top: 30px;
  line-height: 1;
}
.team__title{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.team__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #999;
}

.team__img{
  transition: transform 0.2s linear;
  height: 470px;
  background: linear-gradient(to bottom, var(--slider-red-color), var(--active-text-color));
}

.team__img img{
  transition: opacity 0.2s linear;
}

.team__icons{
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  opacity: 0;

  transform: translate3d(0, -50%, 0);

  transition: opacity 0.2s linear;

}

/* team hover */

.team__item:hover .team__img{
  transform: translate(-10px, -10px);
}

.team__item:hover .team__img img{
  opacity:0.1;
}

.team__item:hover .team__icons{
  opacity: 1;
}

/* icons */

.social{
  display: flex;
  justify-content: center;
}
.social__icon{
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 12px 10px;
  line-height: 1;
  background-color: var(--active-text-color);
  text-decoration: none;
  border-left:1px solid var(--slider-red-color);
  color: var(--slider-red-color);
  font-size: 30px;

  transition: 0.2s;
}

.social__icon:first-of-type{
  border-left:0;
}

.social__icon:hover{
  background-color:var(--slider-red-color);
  color: white;
}
/* logos */

.logo{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.logo__img{
  width: 130px;
  height: 130px;
}

/* works */

.works{
  /* position: relative; */
  display: flex;
  line-height: 0;
  margin-top: 100px;
  width: 100%;
}

.works__col{
  flex: 1 1 0;
}

.works__img{
  width: 100%;
}
.works__img.height{
  height: 100%;
}

.works__item{
  position: relative;
  background:linear-gradient(to bottom, var(--slider-red-color), var(--active-text-color) );
}
.works__item img{
    transition: opacity 0.2s linear;
}
.works__info{
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  opacity: 0;
  transition: opacity 0.2s linear;
  /* transform: translateY(-50%); */
}
.works__title{
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

.works__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  color:white;
  font-style: italic;
}

.works__item:hover .works__img{
  opacity: 0.2;
}
.works__item:hover .works__info{
  opacity: 1;
}


/* rew */

.rew{
  display: flex;
  margin-top: 80px;
  padding: 0 100px 0 80px;
  position: relative;
}
.rew__info{
  padding-left: 25px;
}

.rew__text{
  font-size: 24px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #999;
}

.rew__title{
  font-size: 24px;
  font-family: var(--second-font-family);
}
.rew__title::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  left: 0;
  top: 0;
  width: 60px;
  height: 3px;
  background-color:var(--slider-red-color);
  margin-right: 10px;
}

.rew__btn{
  position: absolute;
  text-decoration: none;
  color: transparent;
  width: 15px;
  height: 15px;
  border-left:3px solid #d2d2d2;
  border-top:3px solid #d2d2d2;

  transform: rotate(-45deg) translateY(-50%);
}
.rew__btn--prev{
  top: 50%;
  left: 30px;
}
.rew__btn--next{
  top: 50%;
  right: 30px;
  transform: rotate(135deg);
}


/* clients */
.clients{
  display: flex;
  flex-wrap: wrap;
}
.clients__item{
  width:50%;
  position: relative;
  margin-top: 60px;
}

.clients__info{
  padding: 15px 35px 0 180px;
}
.clients__title{
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}
.clients__job{
  font-size: 15px;
  font-family: var(--article-font-family);
  font-style: italic;
  color:#333;
}
.clients__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  color: #999;
}
.clients__job::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color:var(--slider-red-color);
  margin: 20px 0;

}
.clients__item img{
  position: absolute;
  margin: 0 30px;
}

.section--clients{
  background:url(../img/clients/bg.jpg) center no-repeat;
  background-size:cover;
  width: 100%;
}


/* blog */

.blog{
  display: flex;
}
.blog__item{
  flex: 1 1 0;
  position: relative;
}

.blog__title{
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.blog__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  color:#999;
  padding: 15px 0;
  width: 380px;
  border-bottom: 1px solid #d2d2d2;
}

.blog__calendar{
  position: absolute;
  left: -10px;
  top: 50%;
  width: 60px;
  height: 70px;
  line-height: 0.5;
  text-align: center;
  background-color: var(--background-color);

  transform: translateY(-50%);
}

.cal__title{
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-top: 15px;
}
.cal__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #fff;
}
.blog__wievs{
  margin-top: 15px;
}
.blog__wievs a{
  font-size: 15px;
  font-family: var(--article-font-family);
  font-style: italic;
  font-weight: 100;
  color: #999;
}

.blog__wievs i{
  color: var(--background-color);
}

.blog__wievs i:last-of-type{
  margin-left: 30px;
}

/* maps */
.maps{
  text-align: center;
}
.maps__item{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--slider-red-color);
  line-height: 0.7;
}
.maps__item a{
    text-decoration: none;
    color: var(--slider-red-color);
}
.maps__item::after{
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: var(--slider-red-color);
  margin: 0 auto;
}

.section--maps{
  background:url(../img/blog/maps.png) center no-repeat;
  background-size:cover;
}


/* footer */
.section--footer{
  background-color: #f8f8f8;
  padding-bottom: 0;
}
.footer{
  display: flex;
  justify-content: space-between;
}

.footer__item.followers{
  width: 50%;
}
.footer__item{
  width: 40%;
  margin-right: 30px;
}
.footer__item.inst{
  width: 30%;
  margin-left: 0;
}

.followers__head{
  border-bottom:1px solid #ccc
}

.head__title{
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
}

.head__text{
  font-size: 15px;
  font-family: var(--article-font-family);
  color: #ccc;
  font-style: italic;
}

.head__followers{
  font-size: 15px;
  color: #333;
  margin-top: 40px;
}
.head__followers b{
  font-size: 18px;
}
.follow__us{
  font-size: 15px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #ccc;
  padding: 20px 0 40px 0;
}

.social__footer{
  text-decoration: none;
  color: var(--background-color);
  margin-left: 15px;
}
.follow__Subscribe{
  display: flex;
}

.follow__email{
  font-size: 15px;
  font-family: var(--article-font-family);
  font-style: italic;
  padding: 15px 150px 15px 10px;
  border:1px solid #ccc;
}
.follow__email::placeholder{
  color: #ccc;
}
.follow__email:focus{
  color:#333;
  outline-color: var(--background-color);
}

.follow__btn{
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--background-color);
  border:1px solid var(--background-color);
  cursor: pointer;
}

.footer__item{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: space-between;
}
.blog__item--footer{
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 80px;
  flex: 1 1 0;
}
.blog__item--footer:first-of-type{
    margin-top: 70px;
}
.blog__item--footer img{
  position: absolute;
  height:auto;
}
.blog__title--footer{
  padding: 0 0 0 140px;
}
.blog__title--footer.blog{
  position: absolute;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.blog__title--footer h4{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  padding-top: 15px;
}
.blog__title--footer p{
  font-size: 13px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #999;
  margin-top: 0;
}

.footer__gallery{
  margin-top: 70px;
  display: flex;
  line-height: 0;
  justify-content: space-between;
  width: 100%;
}

.gallery__col{
margin-left: 3px;
position: relative;
}
.gallery__col img{
  margin-bottom: 3px;
}
.gallery__text{
  line-height: 1.6;
  font-size: 12px;
  font-family: var(--article-font-family);
  font-style: italic;
  color: #999;
  text-decoration: none;
}

.footer__author{
  margin-top: 90px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  border-top:1px solid #ccc;
  padding: 25px 0;
}
.footer__author pre{
  margin: 0;
  display: inline;
  color: var(--slider-red-color);
}























